html {
  height: 100%;
  background: 50% 50% no-repeat
    url('data:image/svg+xml,<svg viewBox="-20 -5 60 40" width="140" xmlns="http://www.w3.org/2000/svg" opacity="0.2"><path d="M1 8l11-7 11 7v8l-11 7-11-7zm0 0l11 8 11-8m0 8L12 8 1 16M12 1v7m0 8v7" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"/><text x="-12" y="32" font-size="5" font-family="monospace" fill="currentColor">Built on CodePen</text></svg>');
body{background-color:blue;
  }
h1{text-align:center;
  color:white;
  font-family:Times New Roman;
  }
ul{list_style_type:none;
   padding:16px;
  }
li{display:inline;
   padding_left:4px solid gray;
   padding_right:4px solid gray;
  }
  nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: rgba(0, 0, 0, 0.4);
    padding: 12px;
    backdrop-filter: blur(8px);
    }

nav a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 8px;
    transition: 0.3s;
    }

nav a:hover {
    background: #00c3ff;
    color: #0b1f3a;
    }


