html {
  height: 100%;
}

* {
  color: white;
}

header {
  ul {
    list-style-type: none;
    padding: 16px;
  }
  
  li {
    display: inline;
    padding-left: 4px solid gray;
    padding-right: 4px solid gray;
  }
}

body {
  background-color:blue;
}

h1 {
  text-align: center;
  font-weight: bold;
}

p {
  text-align:center;
  size: 20px;
}

.content {
  text-align: center;
}

a {
  color: red;
}
